<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA95D5911C3A16E6001ED1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA95D5AD1C3A16E6001ED1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA95D5B81C3A16E6001ED1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
